In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('spam.csv',encoding='iso-8859-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

##Preprocessing

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [6]:
from nltk import word_tokenize
data['v2'] = data['v2'].apply(lambda text : word_tokenize(text))
data['v2']

0       [Go, until, jurong, point, ,, crazy, .., Avail...
1                [Ok, lar, ..., Joking, wif, u, oni, ...]
2       [Free, entry, in, 2, a, wkly, comp, to, win, F...
3       [U, dun, say, so, early, hor, ..., U, c, alrea...
4       [Nah, I, do, n't, think, he, goes, to, usf, ,,...
                              ...
5567    [This, is, the, 2nd, time, we, have, tried, 2,...
5568     [Will, Ì_, b, going, to, esplanade, fr, home, ?]
5569    [Pity, ,, *, was, in, mood, for, that, ., So, ...
5570    [The, guy, did, some, bitching, but, I, acted,...
5571                  [Rofl, ., Its, true, to, its, name]
Name: v2, Length: 5572, dtype: object

In [7]:
for row,i in zip(data['v2'],data.index):
    if row == []:
        data.drop(i,inplace=True)
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[Go, until, jurong, point, ,, crazy, .., Avail...",NaN,NaN,NaN
1,ham,"[Ok, lar, ..., Joking, wif, u, oni, ...]",NaN,NaN,NaN
2,spam,"[Free, entry, in, 2, a, wkly, comp, to, win, F...",NaN,NaN,NaN
3,ham,"[U, dun, say, so, early, hor, ..., U, c, alrea...",NaN,NaN,NaN
4,ham,"[Nah, I, do, n't, think, he, goes, to, usf, ,,...",NaN,NaN,NaN

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:
from nltk.corpus import stopwords
en_stopwords = stopwords.words('english')

def remove_stopwords(text):
    li = []
    for word in text:
        if word not in en_stopwords:
            li.append(word)
    return li

In [10]:
data['v2'] = data['v2'].apply(remove_stopwords)
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[Go, jurong, point, ,, crazy, .., Available, b...",NaN,NaN,NaN
1,ham,"[Ok, lar, ..., Joking, wif, u, oni, ...]",NaN,NaN,NaN
2,spam,"[Free, entry, 2, wkly, comp, win, FA, Cup, fin...",NaN,NaN,NaN
3,ham,"[U, dun, say, early, hor, ..., U, c, already, ...",NaN,NaN,NaN
4,ham,"[Nah, I, n't, think, goes, usf, ,, lives, arou...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,"[This, 2nd, time, tried, 2, contact, u., U, å£...",NaN,NaN,NaN
5568,ham,"[Will, Ì_, b, going, esplanade, fr, home, ?]",NaN,NaN,NaN
5569,ham,"[Pity, ,, *, mood, ., So, ..., suggestions, ?]",NaN,NaN,NaN
5570,ham,"[The, guy, bitching, I, acted, like, 'd, inter...",NaN,NaN,NaN
5571,ham,"[Rofl, ., Its, true, name]",NaN,NaN,NaN

In [11]:
from nltk.tokenize import RegexpTokenizer

def remove_punct(text):
    
    tokenizer = RegexpTokenizer(r"\w+")
    lst=tokenizer.tokenize(' '.join(text))
    return lst

In [12]:
data['v2'] = data['v2'].apply(remove_punct)
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[Go, jurong, point, crazy, Available, bugis, n...",NaN,NaN,NaN
1,ham,"[Ok, lar, Joking, wif, u, oni]",NaN,NaN,NaN
2,spam,"[Free, entry, 2, wkly, comp, win, FA, Cup, fin...",NaN,NaN,NaN
3,ham,"[U, dun, say, early, hor, U, c, already, say]",NaN,NaN,NaN
4,ham,"[Nah, I, n, t, think, goes, usf, lives, around...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,"[This, 2nd, time, tried, 2, contact, u, U, å, ...",NaN,NaN,NaN
5568,ham,"[Will, Ì_, b, going, esplanade, fr, home]",NaN,NaN,NaN
5569,ham,"[Pity, mood, So, suggestions]",NaN,NaN,NaN
5570,ham,"[The, guy, bitching, I, acted, like, d, intere...",NaN,NaN,NaN
5571,ham,"[Rofl, Its, true, name]",NaN,NaN,NaN

##Vectorization

In [13]:
data['v2'] = data['v2'].apply(lambda text : " ".join(text))
data['v2']

0       Go jurong point crazy Available bugis n great ...
1                                 Ok lar Joking wif u oni
2       Free entry 2 wkly comp win FA Cup final tkts 2...
3                     U dun say early hor U c already say
4            Nah I n t think goes usf lives around though
                              ...
5567    This 2nd time tried 2 contact u U å 750 Pound ...
5568                    Will Ì_ b going esplanade fr home
5569                             Pity mood So suggestions
5570    The guy bitching I acted like d interested buy...
5571                                   Rofl Its true name
Name: v2, Length: 5572, dtype: object

In [17]:
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

In [18]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(data['v2'])
sequences = tok.texts_to_sequences(data['v2'])
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

In [32]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
labels = label.fit_transform(data['v1'])
data['v1'] = labels
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,Go jurong point crazy Available bugis n great ...,NaN,NaN,NaN
1,0,Ok lar Joking wif u oni,NaN,NaN,NaN
2,1,Free entry 2 wkly comp win FA Cup final tkts 2...,NaN,NaN,NaN
3,0,U dun say early hor U c already say,NaN,NaN,NaN
4,0,Nah I n t think goes usf lives around though,NaN,NaN,NaN
...,...,...,...,...,...
5567,1,This 2nd time tried 2 contact u U å 750 Pound ...,NaN,NaN,NaN
5568,0,Will Ì_ b going esplanade fr home,NaN,NaN,NaN
5569,0,Pity mood So suggestions,NaN,NaN,NaN
5570,0,The guy bitching I acted like d interested buy...,NaN,NaN,NaN
5571,0,Rofl Its true name,NaN,NaN,NaN

In [19]:
import tensorflow as tf

In [23]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=[max_len]),
    tf.keras.layers.Embedding(max_words,50,input_length=max_len),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(100,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [29]:
model.compile(loss='BinaryCrossentropy',optimizer='Adam',metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 150, 50)           50000

 lstm_2 (LSTM)               (None, 64)                29440

 dense (Dense)               (None, 100)               6500

 dense_1 (Dense)             (None, 1)                 101

=================================================================
Total params: 86,041
Trainable params: 86,041
Non-trainable params: 0
_________________________________________________________________

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(sequences_matrix,data['v1'])
print(x_train.shape)
print(y_train.shape)  
print(x_test.shape)
print(y_test.shape)

(4179, 150)
(4179,)
(1393, 150)
(1393,)

In [35]:
model.fit(x_train,y_train,validation_split=0.1,callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss',min_delta=0.0001)],epochs=20)

Epoch 1/20
118/118 [==============================] - 11s 96ms/step - loss: 0.0176 - accuracy: 0.9955 - val_loss: 0.0287 - val_accuracy: 0.9928
Epoch 2/20
118/118 [==============================] - 11s 91ms/step - loss: 0.0102 - accuracy: 0.9979 - val_loss: 0.0372 - val_accuracy: 0.9904

In [37]:
y_predict = model.predict(x_test)
y_predict.shape

44/44 [==============================] - 1s 28ms/step

(1393, 1)

In [39]:
y_predict

array([[2.5801972e-04],
       [7.2239081e-06],
       [3.8586652e-03],
       ...,
       [1.4105460e-01],
       [1.3413917e-03],
       [6.1828354e-03]], dtype=float32)

In [47]:
for i in range(len(y_predict)):
  y_predict[i] = 1 if y_predict[i] > 0.5 else 0
y_predict

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

In [48]:
y_predict.shape

(1393,)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.8700646087580761

In [51]:
model.save('my_model')

WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.